### LOAD DATASET

### DATA SET - customers,data_dic,exchange_rates,products,sales,store

In [1]:
import pandas as pd

In [45]:
customers = pd.read_csv(r"D:\GUVI_PROJECT\Illuminating Insights for Global Electronics\Customers.csv", encoding='latin1')
customers.head(4)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957

In [3]:
customers['Birthday'] = pd.to_datetime(customers['Birthday'], errors='coerce')

In [51]:
### columns renaming
customers.rename(columns={'State Code': 'State_Code'}, inplace=True)
customers.rename(columns={'Zip Code': 'Zip_Code'}, inplace=True)

In [52]:
required_cols = ['CustomerKey', 'Gender', 'Name', 'City', 'State_Code', 'State', 'Zip_Code', 'Country', 'Continent', 'Birthday']
customers = customers.dropna(subset=required_cols)

In [7]:
customers.shape

(15256, 10)

In [49]:
customers['Birthday'] = pd.to_datetime(customers['Birthday'], errors='coerce', format='%m/%d/%Y').dt.date

In [18]:
## missing value check 
print(customers.isnull().sum())

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [38]:
## fill 0 in missing value place
customers.fillna(0,inplace=True)

In [39]:
##checking duplicated values
customers.duplicated().sum()

np.int64(0)

In [40]:
## handling duplicated value in such case use 
customers = customers.drop_duplicates()

In [48]:
### data type checking 

customers.dtypes

CustomerKey     int64
Gender         object
Name           object
City           object
State_Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

In [14]:
### coverting str to datetime for birthday and filling with NaT Value
customers['Birthday'] = pd.to_datetime(customers['Birthday'], errors='coerce')

In [42]:
### removing leading and trailing white spaces in the data

columns = customers.columns
for col in columns:
    if customers[col].dtype == 'object': 
        customers[col] = customers[col].str.strip()

In [47]:
customers.rename(columns={'State Code': 'State_Code'}, inplace=True)

In [54]:
data_dic=pd.read_csv(r"D:\GUVI_PROJECT\Illuminating Insights for Global Electronics\Data_Dictionary.csv")
data_dic.head(15)

,Table,Field,Description
0,Sales,Order Number,Unique ID for each order
1,Sales,Line Item,Identifies individual products purchased as pa...
2,Sales,Order Date,Date the order was placed
3,Sales,Delivery Date,Date the order was delivered
4,Sales,CustomerKey,Unique key identifying which customer placed t...
5,Sales,StoreKey,Unique key identifying which store processed t...
6,Sales,ProductKey,Unique key identifying which product was purch...
7,Sales,Quantity,Number of items purchased
8,Sales,Currency Code,Currency used to process the order
9,Customers,CustomerKey,Primary key to identify customers
10,Customers,Gender,Customer gender
11,Customers,Name,Customer full name
12,Customers,City,Customer city
13,Customers,State Code,Customer state (abbreviated)
14,Customers,State,Customer state (full)

In [55]:
#null value check 
data_dic.isnull().sum()

Table          0
Field          0
Description    0
dtype: int64

In [56]:
# data shape
data_dic.shape

(37, 3)

In [57]:
### duplicated checking 
data_dic.duplicated().sum()

np.int64(0)

In [58]:
## removing leading and trailing spaces
columns_data_dic=data_dic.columns
for dic in columns_data_dic:
    data_dic[dic]=data_dic[dic].str.strip()

In [63]:
exchange_rates=pd.read_csv(r"D:\GUVI_PROJECT\Illuminating Insights for Global Electronics\Exchange_Rates.csv")
exchange_rates.head(4)

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237

In [64]:
### null value check 
exchange_rates.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [65]:
### duplicated value check
exchange_rates.duplicated().sum()

np.int64(0)

In [66]:
exchange_rates.dtypes

Date         object
Currency     object
Exchange    float64
dtype: object

In [67]:
### data type conversion
exchange_rates['Date'] = pd.to_datetime(exchange_rates['Date'], errors='coerce')

In [70]:
products=pd.read_csv(r"D:\GUVI_PROJECT\Illuminating Insights for Global Electronics\Products.csv")
products.head(2)

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio

In [71]:
### null value check
products.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [72]:
products.duplicated().sum()

np.int64(0)

In [73]:
### removig white spcaes in the datas
products_columns=products.columns
for pro in products_columns:
    if products[pro].dtype == 'object':
        products[pro]=products[pro].str.strip()

In [74]:
products.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

In [75]:
# Remove $ symbol in the data
products['Unit Price USD'] = products['Unit Price USD'].str.replace('$', '', regex=False)
# Remove commas and convert to float
products['Unit Price USD'] = products['Unit Price USD'].str.replace(',', '').astype(float)

In [76]:
# Remove $ symbol in the data
products['Unit Cost USD'] = products['Unit Cost USD'].str.replace('$', '', regex=False)
# Remove commas and convert to float
products['Unit Cost USD'] = products['Unit Cost USD'].str.replace(',', '').astype(float)

In [77]:
## data type changing 
products['Unit Cost USD'] =products['Unit Cost USD'].astype(float)
products['Unit Price USD'] =products['Unit Price USD'].astype(float)

In [78]:
## column name change
products = products.rename(columns={
    'Product Key': 'ProductKey',
    'Product Name': 'ProductName',
    'Unit Cost USD': 'UnitCostUSD',
    'Unit Price USD': 'UnitPriceUSD'
})

In [87]:
sales=pd.read_csv(r"D:\GUVI_PROJECT\Illuminating Insights for Global Electronics\Sales.csv")
sales.head(2)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD

In [88]:
sales.isnull().sum()

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [96]:
# Remove any leading or trailing spaces in the column names
sales.columns = sales.columns.str.strip()

# Drop rows with NaN values across the specified columns
sales = sales.dropna(subset=['OrderNumber', 'LineItem', 'OrderDate', 'DeliveryDate', 'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'CurrencyCode'])

In [89]:
sales['Delivery Date'] = pd.to_datetime(sales['Delivery Date'], errors='coerce')

In [90]:
## data interpolation for the column bcz there are 49719 missing values
sales['Delivery Date'] = sales['Delivery Date'].interpolate()
## interpolate create the approximate range values by using its surroundedd values

In [91]:
### data type changing
sales['Delivery Date'] = pd.to_datetime(sales['Delivery Date'].dt.date)

In [95]:
customers['DeliveryDate'] = pd.to_datetime(sales['DeliveryDate'], errors='coerce', format='%m/%d/%Y')
customers['OrderDate'] = pd.to_datetime(sales['OrderDate'], errors='coerce', format='%m/%d/%Y')

In [94]:
### duplicated value check
sales.duplicated().sum()

np.int64(0)

In [113]:
sales.dropna(inplace=True)

In [93]:
# Rename columns to match SQL column names
sales = sales.rename(columns={
    'Order Number': 'OrderNumber',
    'Line Item': 'LineItem',
    'Order Date': 'OrderDate',
    'Delivery Date': 'DeliveryDate',
    'CustomerKey': 'CustomerKey',
    'StoreKey': 'StoreKey',
    'ProductKey': 'ProductKey',
    'Quantity': 'Quantity',
    'Currency Code': 'CurrencyCode'
})

In [100]:
stores=pd.read_csv(r"D:\GUVI_PROJECT\Illuminating Insights for Global Electronics\Stores.csv")
stores.head(30)

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
5,6,Australia,Western Australia,2000.0,1/1/2010
6,7,Canada,New Brunswick,1105.0,5/7/2007
7,8,Canada,Newfoundland and Labrador,2105.0,7/2/2014
8,9,Canada,Northwest Territories,1500.0,3/4/2005
9,10,Canada,Nunavut,1210.0,4/4/2015
10,11,Canada,Yukon,1210.0,6/3/2009
11,12,France,Basse-Normandie,350.0,6/6/2012
12,13,France,Corse,245.0,6/7/2013
13,14,France,Franche-Comté,350.0,12/15/2009
14,15,France,La Réunion,400.0,1/1/2015
15,16,France,Limousin,385.0,6/3/2010
16,17,France,Martinique,350.0,7/8/2007
17,18,France,Mayotte,310.0,8/8/2012
18,19,Germany,Berlin,1295.0,4/4/2015
19,20,Germany,Brandenburg,1715.0,12/15/2012
20,21,Germany,Freie Hansestadt Bremen,560.0,6/3/2018
21,22,Germany,Freistaat Thüringen,2000.0,3/6/2008
22,23,Germany,Hamburg,1365.0,1/1/2010
23,24,Germany,Hessen,1855.0,12/15/2012
24,25,Germany,Mecklenburg-Vorpommern,1610.0,1/1/2010
25,26,Germany,Saarland,350.0,3/5/2019
26,27,Germany,Sachsen-Anhalt,2000.0,8/8/2008
27,28,Italy,Caltanissetta,1200.0,12/15/2012
28,29,Italy,Enna,1000.0,1/1/2008
29,30,Italy,Pesaro,2100.0,1/12/2008

In [101]:
stores.dtypes

StoreKey           int64
Country           object
State             object
Square Meters    float64
Open Date         object
dtype: object

In [102]:
stores.duplicated().sum()

np.int64(0)

In [103]:
stores.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [104]:
stores.fillna(0,inplace=True)

In [105]:
stores_columns=stores.columns
for sal in stores_columns:
    if stores[sal].dtype== 'object':
        stores[sal]=stores[sal].str.strip()

In [108]:
stores['OpenDate'] = pd.to_datetime(stores['OpenDate'])

In [107]:
stores.rename(columns={
    'StoreKey': 'StoreKey',
    'Country': 'Country',
    'State': 'State',
    'Square Meters': 'SquareMeters',  # Changed from 'Square Meters' to 'SquareMeters'
    'Open Date': 'OpenDate'
}, inplace=True)

In [109]:
# Drop rows with NaN values in any of the columns
stores_cleaned = stores.dropna()

# If you only want to drop rows with NaN in specific columns, for example, 'OpenDate', 'Country', etc.
stores_cleaned = stores.dropna(subset=['StoreKey', 'Country', 'State', 'SquareMeters', 'OpenDate'])

### Creting a SQL connection

In [22]:
import pymysql

In [24]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='Arun@5851',
    database='Global_electronics'
)

cursor = connection.cursor()

### Creating a tables for each dataset

In [25]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (CustomerKey INTEGER,Gender TEXT,Name TEXT,City TEXT,State_Code TEXT,State TEXT,Zip_Code TEXT,
    Country TEXT,Continent TEXT,Birthday DATE) """)

connection.commit()

In [59]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS data_dictionary (TableName VARCHAR(100),FieldName VARCHAR(100),Description TEXT) """)
connection.commit()

In [61]:
### change table name 
data_dic.rename(columns={'Table': 'TableName', 'Field': 'FieldName'}, inplace=True)

In [68]:
cursor.execute("""CREATE TABLE IF NOT EXISTS exchange_rates (Date DATETIME,Currency VARCHAR(10),Exchange FLOAT)""")
connection.commit()

In [79]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS products (ProductKey INT,ProductName VARCHAR(255),Brand VARCHAR(100),Color VARCHAR(50),UnitCostUSD FLOAT,
    UnitPriceUSD FLOAT,SubcategoryKey INT,Subcategory VARCHAR(100),CategoryKey INT,Category VARCHAR(100))""")
connection.commit()

In [97]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (OrderNumber INT PRIMARY KEY,LineItem INT,OrderDate DATETIME,DeliveryDate DATETIME,CustomerKey INT,
        StoreKey INT,ProductKey INT,Quantity INT,CurrencyCode VARCHAR(10))""")

0

In [112]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS stores (StoreKey INT PRIMARY KEY,Country VARCHAR(255),State VARCHAR(255),SquareMeters FLOAT,OpenDate DATETIME)""")

0

### Storing a data into the sql

In [53]:
for index, row in customers.iterrows():
    cursor.execute("""
        INSERT INTO customers (CustomerKey, Gender, Name, City, State_Code, State, Zip_Code, Country, Continent, Birthday)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['CustomerKey'], row['Gender'], row['Name'], row['City'], row['State_Code'], row['State'], row['Zip_Code'], row['Country'], row['Continent'], row['Birthday']))
connection.commit()

In [62]:
for index, row in data_dic.iterrows():
    cursor.execute("""
        INSERT INTO data_dictionary (TableName, FieldName, Description)
        VALUES (%s, %s, %s)
    """, (row['TableName'], row['FieldName'], row['Description']))
    
connection.commit()

In [69]:
for index, row in exchange_rates.iterrows():
    cursor.execute("""
        INSERT INTO exchange_rates (Date, Currency, Exchange)
        VALUES (%s, %s, %s)
    """, (row['Date'], row['Currency'], row['Exchange']))
connection.commit()

In [65]:
products.columns

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [80]:
for index, row in products.iterrows():
    cursor.execute("""
        INSERT INTO products (ProductKey, ProductName, Brand, Color, UnitCostUSD, UnitPriceUSD, SubcategoryKey, Subcategory, CategoryKey, Category)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row['ProductKey'], row['ProductName'], row['Brand'], row['Color'], row['UnitCostUSD'], row['UnitPriceUSD'], row['SubcategoryKey'], row['Subcategory'], row['CategoryKey'], row['Category']))
connection.commit()

In [ ]:
for index, row in stores.iterrows():
    # Check if the StoreKey already exists
    cursor.execute("SELECT COUNT(*) FROM stores WHERE StoreKey = %s", (row['StoreKey'],))
    if cursor.fetchone()[0] == 0:  # If it doesn't exist
        insert_query = """
        INSERT INTO stores (StoreKey, Country, State, SquareMeters, OpenDate)
        VALUES (%s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, (row['StoreKey'], row['Country'], row['State'], row['SquareMeters'], row['OpenDate']))
    else:
        print(f"StoreKey {row['StoreKey']} already exists, skipping insert.")

# Commit the transaction
connection.commit()